body {
  font-family: Poppins, sans-serif;
  margin: 0;
  background: #0f172a;
  color: #fff;
}

.container {
  width: 90%;
  margin: auto;
  max-width: 900px;
  padding-top: 40px;
}

#loginForm {
  background: #1e293b;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  text-align: center;
}

input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  border-radius: 8px;
  background: #334155;
  color: white;
  font-size: 15px;
}

button {
  background: #3b82f6;
  border: none;
  padding: 12px 25px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

button:hover {
  background: #2563eb;
}

#dashboard {
  display: none;
  margin-top: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
}

.value {
  font-size: 34px;
  font-weight: bold;
  margin-top: 10px;
}

.status {
  margin-top: 5px;
  padding: 5px 10px;
  display: inline-block;
  border-radius: 8px;
  background: #334155;
}

.logoutWrap {
  text-align: center;
  margin-top: 30px;
}
